@model PagedList.PagedList<MvcFoad2024_2.Lecteur>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NomUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PrenomUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TelUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EmailUtilisateur)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MotDePasseUtilisateur)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MatriculeUtilisateur)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EtatUtilisateur)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().specialite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomUtilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrenomUtilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelUtilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailUtilisateur)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MotDePasseUtilisateur)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.MatriculeUtilisateur)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EtatUtilisateur)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.specialite)
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id = item.IdUtilisateur })" class="edit-icon" title="Edit">
                <i class="ri-edit-2-fill"></i>
            </a> |
            <a href="@Url.Action("Delete", new { id = item.IdUtilisateur })" class="details-icon" title="Details">
                <i class="ri-article-fill"></i>
            </a> |
            <a href="@Url.Action("Delete", new { id = item.IdUtilisateur })" class="delete-icon" title="Delete">
                <i class="ri-delete-bin-5-fill"></i>
            </a>
        </td>
    </tr>
}

</table>

<br/>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))